GOOGLE_PROJECT_ID=tempelhofer-feld
GOOGLE_EARTH_ENGINE_SERVICE_ACCOUNT_CREDENTIALS=*** (base64 encoded)
GOOGLE_EARTH_ENGINE_SERVICE_ACCOUNT_EMAIL="***"
ENVIRONMENT= # "PRODUCTION" or "DEVELOPMENT" or "LOCAL"  (select LOCAL if this is running on your machine)
